# Dependencies
node_modules/

# Environment variables (jangan pernah di-commit)
.env
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Build output
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel

# Render
.render/
